<a href="https://colab.research.google.com/github/brianregan111/UCDProjectF1-Brian-Regan/blob/main/project_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import requests
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
races = 'https://raw.githubusercontent.com/brianregan111/UCDProjectF1-Brian-Regan/main/races.csv'
r = pd.read_csv(races , index_col=0) 
r20 = r.loc[r['year'] >= 2020]
R2020 = r20.iloc[:, 0:4] 
display(R2020)

        year  round  circuitId                         name
raceId
1031    2020      1         70          Austrian Grand Prix
1032    2020      2         70           Styrian Grand Prix
1033    2020      3         11         Hungarian Grand Prix
1034    2020      4          9           British Grand Prix
1035    2020      5          9  70th Anniversary Grand Prix
...      ...    ...        ...                          ...
1092    2022     18         22          Japanese Grand Prix
1093    2022     19         69     United States Grand Prix
1094    2022     20         32       Mexico City Grand Prix
1095    2022     21         18         Brazilian Grand Prix
1096    2022     22         24         Abu Dhabi Grand Prix

[61 rows x 4 columns]

In [ ]:
circuits = 'https://raw.githubusercontent.com/brianregan111/UCDProjectF1-Brian-Regan/main/circuits.csv'
cir = pd.read_csv(circuits, index_col = 0) 
cir2 = cir.drop('url' , axis=1)

In [ ]:
#create lists
Countries = ['Australia' ,'Malaysia' ,'Bahrain' ,'Spain' ,'Turkey' ,'Monaco' ,'Canada' ,'France' ,'UK' ,'Germany' ,'Hungary' ,'Belgium' ,'Italy' ,'Singapore' ,'Japan' ,'China' ,'Brazil' ,'USA' ,'UAE' ,'Argentina' ,'Portugal' ,'South Africa' ,'Mexico' ,'Korea' ,'Netherlands' ,'Sweden' ,'Austria' ,'Morocco' ,'Switzerland' ,'India' ,'Russia' ,'Azerbaijan' ,'Saudi Arabia' ,'Qatar' ]
Continent = ['Australia' ,'Asia' ,'Asia' ,'Europe' ,'Europe' ,'Europe' ,'North America' ,'Europe' ,'Europe' ,'Europe' ,'Europe' ,'Europe' ,'Europe' ,'Asia' ,'Asia' ,'Asia' ,'South America' ,'North America' ,'Asia' ,'South America' ,'Europe' ,'Africa' ,'South America' ,'Asia' ,'Europe' ,'Europe' ,'Europe' ,'Africa' ,'Europe' ,'Asia' ,'Asia' ,'Europe' ,'Asia' ,'Asia' ]
#create dictionary
my_dict = {"country":Countries , "Continent":Continent }
#build dataframe
Contmap = pd.DataFrame(my_dict)

#merge to get continent on Circuits table
cir2m = cir2.merge(Contmap, how='left')
display(cir2m)

,circuitRef,name,location,country,lat,lng,alt,Continent
0,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,Australia
1,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,Asia
2,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,Asia
3,catalunya,Circuit de Barcelona-Catalunya,MontmelÃ³,Spain,41.57000,2.26111,109,Europe
4,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,Europe
...,...,...,...,...,...,...,...,...
71,portimao,AutÃ³dromo Internacional do Algarve,PortimÃ£o,Portugal,37.22700,-8.62670,108,Europe
72,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,Europe
73,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,Asia
74,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,Asia
75,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,North America

In [ ]:
# webscrape F1 standings website for 2022 standings, get data  & convert to table
url = requests.get('https://www.formula1.com/en/results.html/2022/drivers.html')
standings2 = pd.read_html('https://www.formula1.com/en/results.html/2022/drivers.html', index_col = 1)[0]
#drop null columns & add new field for year
Standings22 = standings2.dropna(axis=1,how='all')
Standings22.insert(0, 'Year', '2022')


# webscrape F1 standings website for 2021 standings, get data  & convert to table
url = requests.get('https://www.formula1.com/en/results.html/2021/drivers.html')
standings1 = pd.read_html('https://www.formula1.com/en/results.html/2021/drivers.html', index_col = 1)[0]
#drop null columns & add new field for year
Standings21 = standings1.dropna(axis=1,how='all')
Standings21.insert(0, 'Year', '2021')

# webscrape F1 standings website for 2020, standings, get data  & convert to table
url = requests.get('https://www.formula1.com/en/results.html/2020/drivers.html')
standings0 = pd.read_html('https://www.formula1.com/en/results.html/2020/drivers.html', index_col = 1)[0]
#drop null columns & add new field for year
Standings20 = standings0.dropna(axis=1,how='all')
Standings20.insert(0, 'Year', '2020')

#append 3 tables scraped CHANGE TO CONCAT
StandingsCOMB = Standings22.append([Standings21, Standings20])
#convert field's to int
#StandingsCOMB.info() no longer required
StandingsCOMB = StandingsCOMB.astype({'Year':int, 'PTS': int})
# sort by year then Points
StandingsCOMB = StandingsCOMB.sort_values(by=['Year', 'PTS'], ascending=[True,False])
#rename column 
StandingsCOMB.rename(columns = { 'PTS':'Points'}, inplace = True)
display(StandingsCOMB)

#group by driver 
grouped_single = StandingsCOMB.groupby(['Driver']).agg({'Points': ['mean', 'min', 'max']})
display(grouped_single)

,Year,Driver,Nationality,Car,Points
Pos,,,,,
1,2020,Lewis Hamilton HAM,GBR,Mercedes,347
2,2020,Valtteri Bottas BOT,FIN,Mercedes,223
3,2020,Max Verstappen VER,NED,Red Bull Racing Honda,214
4,2020,Sergio Perez PER,MEX,Racing Point BWT Mercedes,125
5,2020,Daniel Ricciardo RIC,AUS,Renault,119
...,...,...,...,...,...
18,2022,Zhou Guanyu ZHO,CHN,Alfa Romeo Ferrari,6
19,2022,Alexander Albon ALB,THA,Williams Mercedes,4
20,2022,Nicholas Latifi LAT,CAN,Williams Mercedes,2
21,2022,Nyck De Vries DEV,NED,Williams Mercedes,2
22,2022,Nico Hulkenberg HUL,GER,Aston Martin Aramco Mercedes,0

                              Points
                                mean  min  max
Driver
Alexander  Albon  ALB      54.500000    4  105
Antonio  Giovinazzi  GIO    3.500000    3    4
Carlos  Sainz  SAI        171.666667  105  246
Charles  Leclerc  LEC     188.333333   98  308
Daniel  Ricciardo  RIC     90.333333   37  119
Daniil  Kvyat  KVY         32.000000   32   32
Esteban  Ocon  OCO         76.000000   62   92
Fernando  Alonso  ALO      81.000000   81   81
George  Russell  RUS       98.000000    3  275
Jack  Aitken  AIT           0.000000    0    0
Kevin  Magnussen  MAG      13.000000    1   25
Kimi  RÃ¤ikkÃ¶nen  RAI        7.000000    4   10
Lance  Stroll  STR         42.333333   18   75
Lando  Norris  NOR        126.333333   97  160
Lewis  Hamilton  HAM      324.666667  240  387
Max  Verstappen  VER      354.333333  214  454
Mick  Schumacher  MSC       6.000000    0   12
Nicholas  Latifi  LAT       3.000000    0    7
Nico  Hulkenberg  HUL       5.000000    0   10
Nikita  Mazepin  MAZ        0.000000    0    0
Nyck  De Vries  DEV         2.000000    2    2
Pierre  Gasly  GAS         69.333333   23  110
Pietro  Fittipaldi  FIT     0.000000    0    0
Robert  Kubica  KUB         0.000000    0    0
Romain  Grosjean  GRO       2.000000    2    2
Sebastian  Vettel  VET     37.666667   33   43
Sergio  Perez  PER        206.666667  125  305
Valtteri  Bottas  BOT     166.000000   49  226
Yuki  Tsunoda  TSU         22.000000   12   32
Zhou  Guanyu  ZHO           6.000000    6    6

In [ ]:
#import driver CSV
drivers = 'https://raw.githubusercontent.com/brianregan111/UCDProjectF1-Brian-Regan/main/drivers.csv'
dr = pd.read_csv(drivers , index_col=0) 
dr["Driver"]= dr["forename"] + " " + dr["surname"] + " " + dr["code"]
display(dr)

,driverRef,number,code,forename,surname,dob,nationality,url,Driver
driverId,,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis Hamilton HAM
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,Nick Heidfeld HEI
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico Rosberg ROS
4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando Alonso ALO
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,Heikki Kovalainen KOV
...,...,...,...,...,...,...,...,...,...
852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki Tsunoda TSU
853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin,Nikita Mazepin MAZ
854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher,Mick Schumacher MSC
855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou,Guanyu Zhou ZHO
856,de_vries,45,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,Nyck de Vries DEV

In [ ]:
import sqlite3
sql_connect = sqlite3.connect('https://raw.githubusercontent.com/brianregan111/UCDProjectF1-Brian-Regan/main/results.csv')

OperationalError: ignored